{{ attach_library('sf/contactus') }}
<article id="node-{{ node.id }}" class="{{ attributes.class }}"{{ attributes }}>
  <div id="contactus">
    <!-- Note :
    - You can modify the font style and form style to suit your website.
    - Code lines with comments Do not remove this code are required for the form to work properly, make sure that you do not remove these lines of code.
    - The Mandatory check script can modified as to suit your business needs.
    - It is important that you test the modified form before going live.-->
    <div id='crmWebToEntityForm' class='zcwf_lblLeft crmWebToEntityForm'>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <META HTTP-EQUIV='content-type' CONTENT='text/html;charset=UTF-8'>
      <script src='https://www.google.com/recaptcha/api.js' async defer></script>
      <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads4453254000008874012 method='POST'
            onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4453254000008874012()'
            accept-charset='UTF-8'>
        <input type='text' style='display:none;' name='xnQsjsdp'
               value='cc84bb5615c1ec67dd63c832849bed2b002f8770fc457789a46bb8163f949f31'></input>
        <input type='hidden' name='zc_gad' id='zc_gad' value=''></input>
        <input type='text' style='display:none;' name='xmIwtLD'
               value='e85740dd4eeb66fb2e75af1d61203fbbf2fa398a18dfef8a4cda5dcb3b3de7af'></input>
        <input type='text' style='display:none;' name='actionType' value='TGVhZHM='></input>
        <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;aureon.ca'> </input>
        <!-- Do not remove this code. -->
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'><label for='First_Name'>First Name<span style='color:red;'>*</span></label></div>
          <div class='zcwf_col_fld'><input type='text' id='First_Name' name='First Name' maxlength='40'></input>
            <div class='zcwf_col_help'></div>
          </div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'><label for='Last_Name'>Last Name<span style='color:red;'>*</span></label></div>
          <div class='zcwf_col_fld'><input type='text' id='Last_Name' name='Last Name' maxlength='80'></input>
            <div class='zcwf_col_help'></div>
          </div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'><label for='Email'>Email<span style='color:red;'>*</span></label></div>
          <div class='zcwf_col_fld'><input type='text' ftype='email' id='Email' name='Email' maxlength='100'></input>
            <div class='zcwf_col_help'></div>
          </div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'><label for='Phone'>Phone</label></div>
          <div class='zcwf_col_fld'><input type='text' id='Phone' name='Phone' maxlength='30'></input>
            <div class='zcwf_col_help'></div>
          </div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'><label for='Country'>Country<span style='color:red;'>*</span></label></div>
          <div class='zcwf_col_fld'><input type='text' id='Country' name='Country' maxlength='100'></input>
            <div class='zcwf_col_help'></div>
          </div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'><label for='Description'>Message<span style='color:red;'>*</span></label></div>
          <div class='zcwf_col_fld'><textarea id='Description' name='Description'></textarea>
            <div class='zcwf_col_help'></div>
          </div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_fld checkbox'>
            <input type='checkbox' class='zcwf_ckbox' id='Email_Opt_Out' name='Email Opt Out' maxlength='50'></input>
          </div>
          <div class='zcwf_col_lab'><label for='Email_Opt_Out'>No, I do not with to receive email updates.</label></div>
          <div class='zcwf_col_help'></div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'></div>
          <div class='zcwf_col_fld'>
            <div class='g-recaptcha' data-sitekey='6Lcb0wUfAAAAABehKXntv0LhBT7CJ46MMWlg4ayC' data-theme='dark'
                 data-callback='rccallback4453254000008874012' captcha-verified='false' id='recap4453254000008874012'></div>
            <div id='recapErr4453254000008874012' style='font-size:12px;color:red;visibility:hidden;'>Captcha validation
              failed. If you are not a robot then please try again.
            </div>
          </div>
        </div>
        <div class='zcwf_row'>
          <div class='zcwf_col_lab'></div>
          <div class='zcwf_col_fld'>
            <input type='submit' id='formsubmit' class='formsubmit zcwf_button' value='Submit' title='Submit'>
            <input type='reset' class='zcwf_button' name='reset' value='Reset' title='Reset'>
          </div>
        </div>

        <script>

           /* Do not remove this code. */
          function rccallback4453254000008874012() {
            if (document.getElementById('recap4453254000008874012') != undefined) {
              document.getElementById('recap4453254000008874012').setAttribute('captcha-verified', true);
            }
            if (document.getElementById('recapErr4453254000008874012') != undefined && document.getElementById('recapErr4453254000008874012').style.visibility == 'visible') {
              document.getElementById('recapErr4453254000008874012').style.visibility = 'hidden';
            }
          }

          function reCaptchaAlert4453254000008874012() {
            var recap = document.getElementById('recap4453254000008874012');
            if (recap != undefined && recap.getAttribute('captcha-verified') == 'false') {
              document.getElementById('recapErr4453254000008874012').style.visibility = 'visible';
              return false;
            }
            return true;
          }

          function validateEmail4453254000008874012() {
            var form = document.forms['WebToLeads4453254000008874012'];
            var emailFld = form.querySelectorAll('[ftype=email]');
            var i;
            for (i = 0; i < emailFld.length; i++) {
              var emailVal = emailFld[i].value;
              if ((emailVal.replace(/^\s+|\s+$/g, '')).length != 0) {
                var atpos = emailVal.indexOf('@');
                var dotpos = emailVal.lastIndexOf('.');
                if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= emailVal.length) {
                  alert('Please enter a valid email address. ');
                  emailFld[i].focus();
                  return false;
                }
              }
            }
            return true;
          }


          function checkMandatory4453254000008874012() {
            var mndFileds = new Array('First Name', 'Last Name', 'Email', 'Country', 'Description');
            var fldLangVal = new Array('First\x20Name', 'Last\x20Name', 'Email', 'Country', 'Message');
            for (i = 0; i < mndFileds.length; i++) {
              var fieldObj = document.forms['WebToLeads4453254000008874012'][mndFileds[i]];
              if (fieldObj) {
                if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length == 0) {
                  if (fieldObj.type == 'file') {
                    alert('Please select a file to upload.');
                    fieldObj.focus();
                    return false;
                  }
                  alert(fldLangVal[i] + ' cannot be empty.');
                  fieldObj.focus();
                  return false;
                } else if (fieldObj.nodeName == 'SELECT') {
                  if (fieldObj.options[fieldObj.selectedIndex].value == '-None-') {
                    alert(fldLangVal[i] + ' cannot be none.');
                    fieldObj.focus();
                    return false;
                  }
                } else if (fieldObj.type == 'checkbox') {
                  if (fieldObj.checked == false) {
                    alert('Please accept ' + fldLangVal[i]);
                    fieldObj.focus();
                    return false;
                  }
                }
                try {
                  if (fieldObj.name == 'Last Name') {
                    name = fieldObj.value;
                  }
                } catch (e) {
                }
              }
            }
            if (!validateEmail4453254000008874012()) {
              return false;
            }
            if (!reCaptchaAlert4453254000008874012()) {
              return false;
            }

            document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
          }


          function tooltipShow4453254000008874012(el) {
            var tooltip = el.nextElementSibling;
            var tooltipDisplay = tooltip.style.display;
            if (tooltipDisplay == 'none') {
              var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
              for (i = 0; i < allTooltip.length; i++) {
                allTooltip[i].style.display = 'none';
              }
              tooltip.style.display = 'block';
            } else {
              tooltip.style.display = 'none';
            }
          }
        </script>
      </form>
    </div>
  </div>
  {{ content|without('comment', 'links') }}

</article>

